.stadium-client-side-dg-repeater {
    margin-top: 10px;
    align-items: center;

    .grid-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));
        padding: 5px;

        .control-container {
            font-size: var(--dg-item-font-size, var(--DATA-GRID-CELL-FONT-SIZE));
            margin-top: 0;
            vertical-align: -webkit-baseline-middle;
            padding-right: 12px;
        }
    }

    .grid-item:has(> .control-container.visually-hidden),
    .grid-item:has(> .control-container[style='display: none;']) {
        padding: 0;
        margin: 0;
    }
    .control-container.visually-hidden {
        padding: 0;
    }

    .grid-item:not(.grid-repeater-item) {
        border-top: 1px solid var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));
        border-bottom: 3px solid var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));
        padding: var(--dg-header-padding);

        span {
            font-weight: var(--dg-header-font-weight);
            font-size: var(--dg-header-font-size, var(--DATA-GRID-HEADER-CELL-FONT-SIZE));
            text-transform: var(--dg-header-text-transform);
        }
    }

    .grid-item:not(.grid-repeater-item) .btn.btn-link {
        text-transform: var(--dg-header-text-transform);
        text-decoration: var(--dg-header-link-underline);
        font-weight: var(--dg-header-font-weight);
        font-size: var(--dg-header-font-size, var(--DATA-GRID-HEADER-CELL-FONT-SIZE));
    }

    .dg-alternate-row {
        background-color: var(--dg-alternate-row-bg-color, var(--DATA-GRID-ODD-ROW-BACKGROUND-COLOR));
    }

    .dg-asc-sorting {
        background-image: var(--dg-sorting-asc-icon, var(--DATA-GRID-SORT-ARROW-ASC-ICON));
        background-repeat: no-repeat;
        background-position: right center;
        background-size: var(--dg-sorting-icon-size, var(--DATA-GRID-SORT-ARROW-ASCDESC-ICON-SIZE));
    }

    .dg-desc-sorting {
        background-image: var(--dg-sorting-desc-icon, var(--DATA-GRID-SORT-ARROW-DESC-ICON));
        background-repeat: no-repeat;
        background-position: right center;
        background-size: var(--dg-sorting-icon-size, var(--DATA-GRID-SORT-ARROW-ASCDESC-ICON-SIZE));
    }

    .paging-stack-layout {
        display: flex;
        align-items: center;
        padding: 4px 0;
        border: 1px solid var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));

        .control-container {
            margin-top: 0;
            vertical-align: -webkit-baseline-middle;
            padding-right: 12px;
        }

        .current-page {
            font-style: italic;
        }

        .label-container {
            margin-left: 4px;
            span {
                font-size: 12px;
            }
        }

        .button-container {
            padding-right: 2px;
        }

        .button-container:first-child {
            padding-left: 6px;
        }

        .button-container.disabled .btn {
            background-color: var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));
            border-color: var(--dg-border-color, var(--DATA-GRID-BORDER-COLOR));
        }

        .btn {
            width: auto;
            padding: 2px 6px;
            font-size: 12px;
            box-shadow: none;
        }
        
        .text-box-container {
            padding: 0 4px 0 12px;
            
        input[type='text'].form-control {
                width: var(--dg-paging-specific-page-textbox-width, 60px);
                height: 22px;
                padding: 0 4px;
            }
        }
        .pagination {
            padding: 2px 6px;
            a {
                user-select: none;
            }
        }
    }
}